
$background: url(/assets/img/sprites.png) no-repeat;

%logo-color-1 {
  background: $background;
	background-position: -226px -2px ;
	width: 120px;
	height: 65px;
}

%logo-color-2 {
  background: $background;
  background-position: 0 -134px ;
  width: 62px;
  height: 33px;
}

%logo-color-3 {
  background: $background;
  background-position: 0 0;
  width: 230px;
  height: 128px;
}

%logo-mono-1 {
  background: $background;
	background-position: -225px -72px ;
	width: 119px;
	height: 65px;
}

%icon-arr-1 {
  background: $background;
  background-position: -71px -135px ;
  width: 23px;
  height: 25px;
}

%icon-arr-2 {
  background: $background;
	background-position: -100px -135.00003051757812px ;
	width: 23px;
	height: 25px;
}

%icon-hand {
  background: $background;
	background-position: 0 -173px ;
	width: 37px;
	height: 51px;
}

%icon-support {
  background: $background;
	background-position: -131px -133px ;
	width: 48px;
	height: 52px;
}

%icon-history {
  background: $background;
	background-position: -302px -155.00003051757812px ;
	width: 26px;
	height: 24px;
}

%icon-adress {
  background: $background;
  background-position: -82px -172px ;
  width: 24px;
  height: 27px;
}

%icon-service {
  background: $background;
	background-position: -231px -153px ;
	width: 15px;
	height: 22px;
}

%icon-tel {
  background: $background;
	background-position: -186px -133px ;
	width: 27px;
	height: 27px;
}

%icon-inst {
  background: $background;
  background-position: -257px -151px ;
  width: 30px;
  height: 30px;
}

%icon-fb {
  background: $background;
  background-position: -44px -174px ;
  width: 30px;
  height: 30px;
}

%icon-vk {
  background: $background;
	background-position: -185px -168px ;
	width: 30px;
	height: 30px;
}