.banner {
  position: relative;
  width: 100%;
  
  &--top {
    min-height: 596px;
    background: center / cover no-repeat url(/assets/img/banner-1.png);
  }
  
  &--second {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 118px;
    background: center / contain no-repeat url(/assets/img/banner-5.png);
  }

  &__title {
    width: rem(484);
    padding-top: 11px;
    margin-left: 36%;
  }

  &__badge {
    position: absolute;
    bottom: -116px;
    right: 40px;
    z-index: 1;
    width: 111px;
    height: 231px;
    background: bottom no-repeat url(/assets/img/banner-4.png);
  }
  
  &__badge-text {
    position: absolute;
    top: 122px;
    right: -16px;
    width: 147px;
    font-size: 25px;
    // font-family: $figureFont;
    color: $default-color;
    transform: rotate(270deg);
  }
  
  &__shadow {
    position: absolute;
    bottom: -52px;
    width: 100%;
    height: 500px;
    background: bottom no-repeat url(/assets/img/banner-2.png);
  }

  &__text {
    font-size: rem(48);
    line-height: rem(50);
    color: #004734;
    text-transform: uppercase;
    letter-spacing: rem(1.92);
    text-align: center;
  }

  &__text span {
    font-size: rem(63);
    font-weight: bold;
    color: #de4814;
    letter-spacing: rem(2.5);
  }

  &__arrow {
    position: absolute;
    top: 61px;
  }

  &__arrow--left {
    left: 40px;
  }

  &__arrow--right {
    right: 40px;
    transform: scale(-1, 1);
  }

  &__icon-arrow {
    // @extend %icon-arrow;
  }

  @media screen and (max-width: $tableWidth) {

    &--top {
      background-position: 34%;
    }

    &__title {
      width: 60%;
      margin-left: 38%;
      padding-top: 40px;
    }

    &__badge {
      display: none;
    }

    &__arrow--left {
      left: 5px;
    }
  
    &__arrow--right {
      right: 5px;
    }
  }

  @media screen and (max-width: $phoneWidth) {

    &--second {
      background: none;
    }

    &__arrow {
      display: none;
    }
  }
}