.banner {
  position: relative;
  width: 100%;
  
  &--top {
    min-height: 596px;
    padding-top: 85px;
    color: $default-color;
    background: center / cover no-repeat url(/assets/img/banner-1.png);
  }

  &__title {
    margin-bottom: rem(56);
    padding-top: rem(135);
    font-size: rem(48);
    font-weight: 400;
    text-align: center;
  }

  &__title span {
    font-weight: 300;
  }

  &__badge {
    position: absolute;
    bottom: -51px;
    right: calc(50% - 205px);
    width: 410px;
    height: 115px;
    padding: 14px 70px;
    background-color: $warning-color;
    text-transform: uppercase;
    text-align: center;
  }
  
  &__badge-title {
    margin-bottom: 0;
    font-size: rem(51);
    font-weight: 700;
    line-height: 1;
  }

  @media screen and (max-width: $phoneWidth) {

    &__badge {
      position: static;
      margin-left: auto;
      margin-right: auto;
    }
  }
}