.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 225px;
  padding: 70px 20px;
  font-size: rem(17);
  color: $default-color;
  background-color: #a4a4a5;

  &__text {
    letter-spacing: rem(0.17);
    opacity: 0.7;
  }

  &__text:not(:last-child) {
    margin-bottom: 10px;
  }

  &__link {
    color: $default-color;
    text-decoration: underline;
    transition: $default-transition;
  }

  &__link:hover {
    color: $warning-color;
  }

  @media screen and (max-width: $phoneWidth) {

    min-height: unset;
    padding: 40px 20px;
  }
}