.form {

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -6px;
    margin-right: -6px;
  }
  
  &__title {
    margin-bottom: 15px;
    font-family: $secondFont;
    font-size: rem(20);
    text-align: center;
  }

  &__title span {
    text-transform: uppercase;
  }

  &__input-wrap {
    position: relative;
    width: 100%;
    max-width: 217px;
    margin-left: 6px;
    margin-right: 6px;
  }

  &__input,
  &__submit {
    width: 100%;
    padding: 12px 15px 14px 45px;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: #202020;
    border: 1px solid rgba($default-color, 0.2);
    background-color: transparent;
    transition: $default-transition;
  }
  
  &__input::placeholder {
    font-size: 12px;
    color: #b6b6b6;
  }

  &__input:focus,
  &__input:active {
    border-color: $default-color;
    background-color: $default-color;
    outline: none;
  }

  &__icon {
    position: absolute;
    top: 9px;
    left: 15px;
  }

  &__icon--name {
    @extend %icon-service;
  }

  &__icon--tel {
    left: 11px;
    @extend %icon-tel;
  }

  &__submit {
    max-width: 161px;
    height: 45px;
    margin-left: 6px;
    margin-right: 6px;
    padding: 0;
    font-size: 20px;
    color: $default-color;
    background-color: $warning-color;
    border: none;
  }

  &__submit:hover {
    color: $primary-color;
  }


  &__decor {
    position: absolute;
  }

  &__decor--left {
    left: -126px;
  }

  &__decor--right {
    right: -126px;
    transform: scale(-1, 1);
  }

  &__decor-arrow {
    // @extend %icon-arrow-2;
  }

  @media screen and (max-width: $desktopWidth) {

    &__decor {
      display: none;
    }
  }

  @media screen and (max-width: $tableWidth) {

    flex-direction: column;

    &__input,
    &__submit {
      max-width: 480px;
    }

    &__input {
      margin-bottom: 10px;
    }
  }
}