.form {

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -6px;
    margin-right: -6px;
  }
  
  &__title {
    margin-bottom: 15px;
    font-family: $secondFont;
    font-size: rem(20);
    text-align: center;

    span {
      text-transform: uppercase;
    }
  }

  &__title--footer {
    font-family: $mainFont;
    font-weight: 100;
    color: $default-color;
    text-align: left;

    span {
      font-weight: 400;
    }
  }

  &__input-wrap {
    position: relative;
    width: 100%;
    max-width: 217px;
    margin-bottom: 17px;
    padding-left: 6px;
    padding-right: 6px;
  }

  &__input-wrap--w100 {
    max-width: unset;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 12px 15px 14px 45px;
    font-size: 14px;
    font-weight: 300;
    color: #202020;
    background-color: transparent;
    border: 1px solid rgba($default-color, 0.2);
    transition: $default-transition;
  }

  &__textarea {
    height: 100px;
    padding: 11px 13px;
  }

  &__asterisk {
    position: absolute;
    top: 6px;
    right: 13px;
    font-size: rem(18);
    font-weight: 700;
    color: $default-color;
    opacity: 0.5;
  }
  
  &__input::placeholder,
  &__textarea::placeholder {
    font-size: 12px;
    color: #b6b6b6;
  }
  
  &__input::placeholder {
    text-transform: uppercase;
  }

  &__input:focus,
  &__input:active,
  &__textarea:focus,
  &__textarea:active {
    border-color: $default-color;
    background-color: $default-color;
    outline: none;
  }

  &__icon {
    position: absolute;
    top: 11px;
    left: 21px;
  }

  &__icon--name {
    @extend %icon-service;
  }
  
  &__icon--phone {
    top: 9px;
    left: 15px;

    @extend %icon-phone;
  }

  &__icon--mail {
    top: 14px;

    @extend %icon-mail;
  }

  @media screen and (max-width: $smDesktopWidth) {

    &__title--footer {
      text-align: center;
    }
  }

  @media screen and (max-width: $phoneWidth) {

    &__wrap {
      flex-direction: column;
    }
  }
}