.logo {
  display: flex;
  align-items: center;
  
  &__img {
    @extend %logo-color-2;
    margin-right: 18px;
    margin-left: 18px;
  }

  &__name {
    margin-left: rem(14);
    font-size: rem(26);
    text-transform: uppercase;
    letter-spacing: -1.17px;
  }

  @media screen and (max-width: $phoneWidth) {

    &__name {
      display: none;
    }
  }
}