.menu {
  display: flex;
  align-items: center;
  justify-content: center;

  &--fixed {
    position: fixed;
    right: -88px;
    bottom: 140px;
    width: 230px;
    height: 53px;
    background-color: $warning-color;
    box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.54);
    transform: rotate(270deg);
  }

  &__icon {
    margin-right: 15px;
    transform: rotate(90deg);

    @extend %icon-history;
  }

  &__text {
    margin-bottom: 0;
    font-size: rem(18);
    font-weight: 300;
    color: $default-color;
  }
}