.tile {
  position: relative;
  height: 248px;
  padding-top: 140px;

  &--1 {
    background: center / cover no-repeat url(/assets/img/tile-1.png);
  }

  &--2 {
    background: center / cover no-repeat url(/assets/img/tile-2.png);
  }

  &--3 {
    background: center / cover no-repeat url(/assets/img/tile-3.png);
  }

  &__title {
    font-size: rem(20);
    color: $default-color;
    text-align: center;
  }

  &__back {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 30px 27px;
    color: $default-color;
    opacity: 0;
    visibility: hidden;
    transition: $default-transition;
  }
  
  &__back--primary {
    background-color: $primary-color;
  }
  
  &__back--warning {
    background-color: $warning-color;
  }

  &__back-title {
    margin-bottom: 20px;
    font-size: rem(22);
    text-align: center;
  }

  &__back-text {
    margin-bottom: 25px;
  }

  &__back-list {
    margin-bottom: 20px;
    padding-left: 25px;

    li {
      margin-bottom: 7px;
    }
  }

  &:hover &__back {
    opacity: 1;
    visibility: visible;
  }

  @media screen and (min-width: $desktopWidth) {
    
    &--ml-lg-19 {
      margin-left: 19px;
    }
  
    &--mr-lg-19 {
      margin-right: 19px;
    }
  }
  
  @media screen and (max-width: $desktopWidth) {
    
    &__popup {
      padding: 22px;
    }
  }

  @media screen and (max-width: $tableWidth) {

    &__img {
      position: static;
      display: block;
      height: 300px;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
    }

    &__price {
      text-align: center;
    }

    &__text {
      max-width: 480px;
      margin-left: auto;
      margin-right: auto;
    }

    &__popup-text {
      max-width: 480px;
    }

    &__popup:before {
      right: 25%;
    }
  }

  @media screen and (max-width: $phoneWidth) {

    &__popup::before {
      display: none;
    }
  }
}