.tile {
  position: relative;
  height: 248px;
  padding-top: 140px;
  padding-left: 7%;
  padding-right: 7%;
  color: $default-color;

  &--1 {
    background: center / cover no-repeat url(/assets/img/tile-1.png);
  }

  &--2 {
    background: center / cover no-repeat url(/assets/img/tile-2.png);
  }

  &--3 {
    background: center / cover no-repeat url(/assets/img/tile-3.png);
  }

  &--4 {
    background: center / cover no-repeat url(/assets/img/tile-4.png);
  }

  &--5 {
    background: center / cover no-repeat url(/assets/img/tile-5.png);
  }

  &--6 {
    background: center / cover no-repeat url(/assets/img/tile-6.png);
  }

  &--7 {
    background: center / cover no-repeat url(/assets/img/tile-7.png);
  }

  &--work {
    height: 201px;
    padding: 42px 11% 42px 13%;
  }

  &__title {
    position: relative;
    z-index: 1;
    font-size: rem(20);
    text-align: center;
  }

  &__title--big {
    margin-bottom: 0;
    font-size: rem(26);
    text-align: left;
  }

  &__back {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    padding: 30px 27px;
    font-size: rem(16);
    opacity: 0;
    visibility: hidden;
    transition: $default-transition;
  }
  
  &__back--primary {
    background-color: $primary-color;
  }
  
  &__back--warning {
    background-color: $warning-color;
  }

  &__back-title {
    margin-bottom: 20px;
    font-size: rem(22);
    text-align: center;
  }

  &__text {
    position: relative;
    z-index: 1;
    font-weight: 300;
    margin-bottom: 25px;
  }

  &__back-list {
    margin-bottom: 20px;
    padding-left: 25px;

    li {
      margin-bottom: 7px;
    }
  }
  
  &__frame {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 93%;
    height: 90%;
    margin: auto;
    border: 1px solid $default-color;
    transition: $default-transition;
  }

  &__frame--warning {
    background-color: $warning-color;
    border: none;
    opacity: 0;
  }

  &:hover &__back,
  &:hover &__frame--warning {
    opacity: 1;
    visibility: visible;
  }
}